*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
}
body {
    background-color: pink;
}

header h1{
    background-color: plum;
    line-height: 64px; /* Altura da linha */
    margin: 20px 0;
    text-align: center;
    text-shadow:  2px 2px 4px rgba(0, 255, 0, 0.986);
    color:aliceblue;
    font-family: 'PT Serif', serif;
    
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
img{
    width: 300px;
    height: 350px;
    border-radius: 8px; /* Arrendodar bordas */
    border: 1.5px solid black;
    
}
.Olhos_Azuis{
    width: 333px;
    height: 150px;
    display: flex;
    margin-top: 70px;

}
footer{
    text-align: right;
    line-height: 80px;
    border-top: 4px solid #ccc;
    color: rgb(2, 12, 4);
}
figcaption{
    text-align: center;
    color:aliceblue;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    background-color: rgb(231, 40, 136);
}